@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --font-titulo: 'Calistoga', cursive;
  --font-texto: 'Raleway', sans-serif;
  --cor-fonte: #fff;
  --cor-gradient: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
  --cor-primaria: #008364;
  --cor-secundaria: #4650BD;
  --cor-terciaria: #304968;
  --cor-quaternaria: #36C1A0;
  --cor-quintiaria: #B6BCFF;
  --cor-sextenaria: #C8DEEF;
  --cor-sombra: #444444;
  --cor-hover: #606ADA;

  --cor-pistaPremium: #0E7DF1;
  --cor-pistaComum: #FE016E;
  --cor-cadeirasTerreo: #01A89E;
  --cor-cadeirasSuperiores: #3F51B5;
  --cor-rampas: #0E7DF1;
  

}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
