.BG{
  background: var(--cor-gradient)!important;
}
.bgNavBar {
  background-color: var(--cor-secundaria)!important;
  color: #fff;
}
.navbarLista{
  font-family: var(--font-texto);
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  line-height: 2.5rem;
}
.navbarLista__Item:nth-child(-n+3){
  border-bottom: 1px solid #fff;
  width: 200px;
  margin: 0 auto;
}
.navbarLista__link{
  padding: .5rem 0;
}
.navbarLista__link:hover{
  color: var(--cor-quintiaria)!important;
}

.bgHeader {
  background-color: var(--cor-secundaria)!important;
  color: #fff;
}
.text__header{
  color: #fff;
  font-family: var(--font-titulo);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

/* Datas do Evento (Introdução) */

.secaoDatas__container{
  align-items: center;
}
.secaoDatas__containerImg{
  width: 312px;
  height: 381px;

}
.secaoDatas__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
.secaoDatas__titulo{
  color: #fff;
  font-family: var(--font-texto);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.secaoDatas__texto{
  color: #fff;
  font-family: var(--font-texto);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.2rem;
}
.btnIngresso{
  border-radius: 1rem;
  box-shadow: 4px 4px 0px var(--cor-sombra);
  background-color: var(--cor-secundaria);
}
.btnIngresso:hover{
  background-color: var(--cor-hover);
  box-shadow: 4px 4px 0px var(--cor-sombra);
}

/* Lista de Atrações */

.tituloAttSaturday{
  font-family: var(--font-titulo);
  font-size: 3rem;
  font-weight: 400;
}
.dayAttSaturday{
  font-family: var(--font-titulo);
  font-size: 2rem;
  background-color: var(--cor-primaria);
  
}
.containerListaBandas{
  list-style: none;
  font-family: var(--font-texto);
}

.containerListaBandas__banda:nth-child(1){
  font-size: 3rem;
  font-weight: 800;
  width: 100%;
}

.containerListaBandas__banda:nth-child(n+2):nth-child(-n+5){
  font-size: 2.5rem;
  font-weight: 700;
}

.containerListaBandas__banda:nth-child(n+6){
  font-size: 2rem;
  font-weight: 700;
}
.containerListaBandas__banda:nth-child(n+10){
  font-size: 2rem;
  font-weight: 500;
}
.img__home{
  object-fit: cover!important;
  width: 100%;
  height: 100%;
}
.containerImg__home{
  height: 338px;
  overflow: hidden!important;
}

.footerContainer{
  background-color: var(--cor-secundaria);
  
}
.texto__footer{
  font-family: var(--font-texto);
  font-size: 1.2rem;
  font-weight: 500;
}
.iconesFooter{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}

/* Area de Experiência */

.Img__experienceBanner{
  width: 100%;
  /* colocar a imagem para ficar dentro do container*/
  
  height: 270px;
  object-fit: cover!important;
}
.Img__experience:nth-child(1){
  align-items: start;
}

/* Mapa de Setores */
.containerMapSectors{
  width: 250px;
  height: 360px;
}
.textoMapSectors{
  font-family: var(--font-texto);
  font-size: 1.2rem;
}

.boxColors1 {
  width: 32px;
  height: 32px;
  background-color: var(--cor-pistaPremium);
}
.boxColors2 {
  width: 32px;
  height: 32px;
  background-color: var(--cor-pistaComum);
}
.boxColors3 {
  width: 32px;
  height: 32px;
  background-color: var(--cor-cadeirasTerreo);
}
.boxColors4 {
  width: 32px;
  height: 32px;
  background-color: var(--cor-cadeirasSuperiores);
}
.boxColors5 {
  width: 32px;
  height: 32px;
  background-color: var(--cor-rampas);
}
.containerGridMapsSectors{
  display: grid;
}
.tituloBodySectors{
  font-family: var(--font-texto);
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}
.subtituloBodySectors{
  font-family: var(--font-texto);
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}
.textoBodySectors{
  font-family: var(--font-texto);
  font-size: 1.2rem;
}

.Img__bodySectors{
  width: 312px;
  height: 240px;
  object-fit: cover;
  border-radius: 16px;
}
.containerImg__bodySectors{
  width: 312px;
  height: 240px;
} 

/* Setor de Informações */

.tituloBodyInformation{
  font-family: var(--font-titulo);
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
}

.container__headerAccordion {
  background-color: var(--cor-secundaria) !important;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-texto);
}
.textBodyAccordion{
  font-family: var(--font-texto);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.2rem;
  background-color: var(--cor-sextenaria);  
}
.containerAccordion {
  padding: 0 1.5rem;
}

/* Setor de Ingresso Formulario */

.textLabelForm{
  font-family: var(--font-texto);
  font-size: 2rem;
  font-weight: 700;
}
/* Setor de Ingresso Sucess */
.textHeaderIngresso{
  white-space: break-spaces !important;
  width: 312px;
}
.tituloBodyIngressoSucess{
  font-family: var(--font-texto);
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}


/* Responsividade */

@media screen and (min-width: 768px){
  .container__banner{
    overflow: hidden!important;
    height: 385px;
    
  }
  .navbarLista__Item:nth-child(-n+3){
    border-bottom: none;
  }
  .navbarLista__link{
    padding: 0 !important;
  }

  .banner{
    object-fit: cover!important;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .text__header{
    font-size: 4rem;
  }
  .secaoDatas__container{
    width: 350px;
    
  }
  .secaoDatas__ContainerTitulo{
    width: 400px;
  }
  .secaoDatas__containerImg{
    width: 609px;
    height: 381px;
  }
  .secaoDatas__texto{
    width: 600px;
    text-align: center;
  }
  .containerDay{
    position: relative;
    height: 100px;
  }
  .containerDay__Line{
    top: 50%;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: var(--cor-primaria);
    transform: translateY(-50%);
  }
  .tituloAttSaturday{
    font-size: 4rem; 
  }
  .dayAttSaturday{
    font-size: 3rem;
  }
  /* Mapa de Setores */
  .imgMapSectors{
    width: 650px;
  }
  .tituloBodySectors{
    font-size: 2.5rem;
  }
  .Img__bodySectors{
    width: 383px;
    height: 240px;
    
  }

  /* Informações Gerais */

  .tituloBodyInformation{
    font-size: 3rem;
  }
  .containerAccordion {
    padding: 0 3.7rem;
  }
/* Setor de Ingresso Formulario */
  .containerDataNasc {
    padding-right: 10rem;
  }
  .containerForm {
    padding: 0 3.7rem;
  }

  /* Setor de Ingresso Sucess */

  .textHeaderIngresso {
    white-space: nowrap !important;
    width: 100%;
  }
}

@media screen and (min-width: 1024px){
  .container__banner{
    overflow: hidden!important;
    height: 410px;
  }
  .banner{
    object-fit: cover!important;
    width: 100%;
    height: 100%;
  }
  .secaoDatas__containerImg{
    padding-right: 0 !important;
  }
  .secaoDatas__img{
    width: 100%;
    height: 100%;
  }
  .secaoDatas__texto{
    width: 500px;
  }
  .containerDay__Line{
    width: 25%;
  }
  .footerContainerInterno{
    padding: 0 3rem !important;
  }
  .texto__footerInformacao{
    width: 326px;
  }

  /* Pagine da Experência  */

  .secaoDatas__containerHome{
    justify-content: center !important;
    gap: 2rem;
  }

  .secaoDatas__containerLocation{
    justify-content: center !important;
    align-self: self-start !important;
    text-align: start !important;
    gap: 2rem;
  }

  .secaoDatas__containerLocation:nth-child(2){
    flex-direction: row-reverse !important;  
  }
  /* Mapa de Setores */

  .containerMapsColors{
    gap: 4rem;
  }
  .containerFlexMapsSectors:nth-child(2){
    padding-top: 8rem !important;
  }
  .Img__bodySectors{
    width: 312px;
    height: 240px;
  }

  /* Setor de Informações */

  .containerAccordion {
    padding: 0 10rem;
  }
  /* Setor de Ingresso Formulario */
  .containerForm {
    padding: 0 10rem;
  }
  .containerDataNasc {
    padding-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .Img__bodySectors {
    width: 383px;
    height: 240px;
  }

  /* Setor de Informações */
  .containerAccordion {
    padding: 0 13.8rem;
  }

  /* Setor de Ingresso Formulario */
  .containerForm {
    padding: 0 20rem;
  }
  .containerDataNasc {
    padding-right: 0;
  }
}