.BG{
  background: var(--cor-gradient)!important;
}
.bgNavBar {
  background-color: var(--cor-secundaria)!important;
  color: #fff;
}
.navbarLista{
  font-family: var(--font-texto);
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  line-height: 2.5rem;
}
.navbarLista__Item:nth-child(-n+3){
  border-bottom: 1px solid #fff;
}

.bgHeader {
  background-color: var(--cor-secundaria)!important;
  color: #fff;
}
.text__header{
  color: #fff;
  font-family: var(--font-titulo);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

/* Datas do Evento (Introdução) */

.secaoDatas__container{
  align-items: center;
}
.secaoDatas__containerImg{
  width: 312px;
  height: 381px;

}
.secaoDatas__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
.secaoDatas__titulo{
  color: #fff;
  font-family: var(--font-texto);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.secaoDatas__texto{
  color: #fff;
  font-family: var(--font-texto);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.2rem;
}
.btnIngresso{
  border-radius: 1rem;
  box-shadow: 4px 4px 0px var(--cor-sombra);
  background-color: var(--cor-secundaria);
}
.btnIngresso:hover{
  background-color: var(--cor-hover);
  box-shadow: 4px 4px 0px var(--cor-sombra);
}

/* Lista de Atrações (Sábado) */

.tituloAttSaturday{
  font-family: var(--font-titulo);
  font-size: 3rem;
  font-weight: 400;
}
.dayAttSaturday{
  font-family: var(--font-titulo);
  font-size: 2rem;
  background-color: var(--cor-primaria);
  
}
.containerListaBandas{
  list-style: none;
  font-family: var(--font-texto);
}

.containerListaBandas__banda:nth-child(1){
  font-size: 3rem;
  font-weight: 800;
  width: 100%;
}

.containerListaBandas__banda:nth-child(n+2):nth-child(-n+5){
  font-size: 2.5rem;
  font-weight: 700;
}

.containerListaBandas__banda:nth-child(n+6){
  font-size: 2rem;
  font-weight: 700;
}
.containerListaBandas__banda:nth-child(n+10){
  font-size: 2rem;
  font-weight: 500;
}
.img__home{
  object-fit: cover!important;
  width: 100%;
  height: 100%;
}
.containerImg__home{
  height: 338px;
  overflow: hidden!important;
}

/* Responsividade */

@media screen and (min-width: 768px){
  .container__banner{
    overflow: hidden!important;
    height: 385px;
    
  }
  .navbarLista__Item:nth-child(-n+3){
    border-bottom: none;
  }
  .banner{
    object-fit: cover!important;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .text__header{
    font-size: 4rem;
  }
  .secaoDatas__container{
    width: 350px;
    
  }
  .secaoDatas__ContainerTitulo{
    width: 400px;
  }
  .secaoDatas__containerImg{
    width: 609px;
    height: 381px;
  }
  .secaoDatas__texto{
    width: 600px;
    text-align: center;
  }
  .containerDay{
    position: relative;
    height: 100px;
  }
  .containerDay__Line{
    top: 50%;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: var(--cor-primaria);
    transform: translateY(-50%);
  }
  .tituloAttSaturday{
    font-size: 4rem; 
  }
  .dayAttSaturday{
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px){
  .container__banner{
    overflow: hidden!important;
    height: 410px;
  }
  .banner{
    object-fit: cover!important;
    width: 100%;
    height: 100%;
  }
  .secaoDatas__containerImg{

    padding-right: 0 !important;
  }
  .secaoDatas__img{
    width: 100%;
    height: 100%;
  }
  .secaoDatas__texto{
    width: 500px;
  }
  .containerDay__Line{
    width: 25%;
  }
}