.bgNavBar {
  background-color: var(--cor-secundaria)!important;
  color: #fff;
}
.bgHeader {
  background-color: var(--cor-secundaria)!important;
  color: #fff;
}
.text__header{
  color: #fff;
  font-family: var(--font-titulo);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}