
.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #11101d;
}

.sideBar .logoDetails {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;

}

.sideBar ul {
    padding-left: 0;
    margin-bottom: 0;
}

.sideBar .logoDetails i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sideBar .logoDetails .logoName {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
.sideBar .navLinks {
    
    height: 100%;
    padding-top: 30px;
}
.sideBar .navLinks li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sideBar .navLinks li:hover {
    background: #1d1b31;
    cursor: pointer;
}

.sideBar .navLinks li .iocnLink {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sideBar .navLinks li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}
.sideBar .navLinks li a {
    display: flex;
    align-items: center;
    text-decoration: none;   
}
.sideBar .navLinks li a .linkName{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    
}
.sideBar .navLinks li .subMenu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;

}
.sideBar .navLinks li .subMenu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sideBar .navLinks li .subMenu a:hover {
    opacity: 1;
}
.sideBar.close .navLinks li .subMenu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}
.sideBar.close .navLinks li:hover .subMenu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}
.sideBar .navLinks li .subMenu .linkName{
    display: none;

}
.sideBar.close .navLinks li .subMenu .linkName {
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sideBar .navLinks li .subMenu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
}
.sideBar .navLinks li:hover .subMenu.blank {
    top: 50%;
    transform: translateY(-50%);
}
.sideBar .profileDetails {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    
}
.sideBar .profileDetails .profileContent {
    display: flex;
    align-items: center;
}
.sideBar .profileDetails .img {
    border-radius: 50%;
    object-fit: cover;
}

.sideBar .profileDetails .profileContent {
    border-radius: 50%;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    padding: 10px;
}
.sideBar .profileDetails .profileName, 
.sideBar .profileDetails .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.sideBar .profileDetails .job{
    font-size: 12px;
}